.comic__container {
  background-image: url("../../assests/comic/comic-bg.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 100px;

  .comic_section {
    padding: 100px 0px;
    .heading_style {
      background: -webkit-linear-gradient(left, #5dc7fe, #f831ec);
      background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(left, #5dc7fe, #f831ec);
      background: -o-linear-gradient(right, red, yellow);
      background: -moz-linear-gradient(right, red, yellow);
      background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: 85px;
      font-family: "nurom";
      padding-bottom: 10px;
      line-height: 1em;
      font-weight: 500;
    }
    .comic_paragraph {
      width: 67%;
      text-align: center;
      font-size: 34px;
      line-height: 50px !important;
      font-family: "sansation";
      color: #ffffff;
    }
    .comic_getabsorbed {
      text-align: center;
      font-size: 34px;
      line-height: 50px !important;
      font-family: "sansation";
      color: #ffffff;
    }
  }

  .story_section {
    padding: 100px 0px;
    background-image: url("../../assests/comic/comin-4.jpg");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    .story_heading_style {
      background: -webkit-linear-gradient(left, #5dc7fe, #f831ec);
      background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: 40px;
      font-family: "nurom";
      padding-bottom: 10px;
      line-height: 1em;
      font-weight: 500;
    }
    .story_comic_button {
      color: #ffffff !important;
      border-width: 0px !important;
      border-radius: 20px;
      text-transform: uppercase !important;
      background-image: linear-gradient(180deg, #fa4cf0 0%, #5d15e3 100%);
      background-color: #6923ea;
      text-align: center;
      font-size: 34px;
      line-height: 1.7em !important;
      font-family: "nurom";
      box-shadow: 1px 2px 160px 11px #631de7;
      padding-right: 30px !important;
      padding-left: 30px !important;
    }
  }

  .parts_section {
    padding: 100px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .nft_part1_style {
      width: 250px;
      margin-top: 10px;
      position: relative;
      .comic__card_bottom {
        width: 100%;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 26px;
        font-weight: 700;
        color: white;
      }
      .image_style {
        width: 100%;
      }
      .image_shadow {
        box-shadow: 0px 2px 80px -16px #631de7;
      }
      .image_shadow1 {
        box-shadow: 0px 2px 80px -16px #631de7;
      }
      .part1_footer {
        background-color: rgba(10, 10, 10, 0.8);
        position: relative;
        border-radius: 0 0 15px 15px;
        overflow: hidden;
        border-right-color: RGBA(0, 0, 0, 0);
        padding-top: 15px !important;
        padding-right: 15px !important;
        padding-bottom: 10px !important;
        padding-left: 15px !important;
        margin-bottom: 10px !important;
        width: 100%;
        max-width: 98%;
        position: absolute !important;
        bottom: 25px;
        top: auto;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        text-align: left;
      }
    }
    .nft_comic_button {
      color: #ffffff !important;
      border-width: 0px !important;
      border-radius: 20px;
      text-transform: uppercase !important;
      background-image: linear-gradient(180deg, #fa4cf0 0%, #5d15e3 100%);
      background-color: #6923ea;
      text-align: center;
      font-size: 34px;
      line-height: 1.7em !important;
      font-family: "nurom";
      box-shadow: 1px 2px 160px 11px #631de7;
      padding-right: 30px !important;
      padding-left: 30px !important;
    }
  }

  .nft_section {
    padding: 100px 20px;
    background-image: url("../../assests/comic/background.jpg");
    .heading_style {
      background: -webkit-linear-gradient(left, #5dc7fe, #f831ec);
      background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: 40px;
      font-family: "nurom";
      padding-bottom: 10px;
      line-height: 1em;
      font-weight: 500;
    }
    .nft_paragraph {
      width: 65%;
      text-align: center;
      font-size: 34px;
      line-height: 50px !important;
      font-family: "sansation";
      color: #ffffff;
    }
  }

  .release_section {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.comic-Modal-Component {
  width: 100%;
  height: 100vh;
  padding: 10rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow-y: scroll;

  .wrapper {
    width: 60%;
    height: fit-content;

    background-color: #020119 !important;
    border: 2px solid #6923ea !important;
    box-shadow: 0px 2px 18px 0px #6923ea !important;
    position: relative;
    border-radius: 4px;

    .title {
      padding: 28px;
      font-size: 40px;
      background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      text-shadow: 0px 0px 0px rgb(2 2 2 / 23%);
      font-weight: bold;
      font-size: 40px;
      line-height: 36px;
      font-family: "nurom";
    }

    .inner {
      color: white;
      display: flex;
      flex-direction: column;
      padding: 0px 28px 20px;
      font-size: 34px;
      line-height: 50px;
      span {
        margin-bottom: 15px;
      }
    }

    .cross {
      position: absolute;
      top: 10px;
      right: 1%;

      width: 28px;
      height: 28px;
      border-radius: 50%;

      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f70cfb !important;
      font-size: 28px !important;
      color: #fff;

      box-shadow: 0px 0px 0px 0px rgb(2 2 2 / 23%);
      text-shadow: 0px 0px 0px rgb(0 0 0 / 23%);
    }
  }
}

@media screen and (max-width: 1699px) {
  .comic-Modal-Component {
    padding: 0rem 0;
    align-items: center;
    overflow-y: scroll;

    .wrapper {
      width: 75%;

      .title {
        padding: 28px 28px 20px;
        font-size: 34px;
        line-height: 36px;
        font-family: "nurom";
      }

      .inner {
        padding: 0px 28px 20px;
        font-size: 16px;
        line-height: 23px;
        .span {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .comic-Modal-Component {
    padding: 5rem 0;
    align-items: flex-start;

    .wrapper {
      width: 90%;

      .title {
        padding: 28px 28px 20px;

        font-size: 30px;
        line-height: 32px;
      }
    }
  }
}

@media (max-width: 600px) {
  .comic_section {
    .heading_style {
      font-size: 40px !important;
    }
  }
}
