.bg1 {
  background-image: url("../../assests/calculator/bg1.jpg");
  padding-top: 200px;
  padding-bottom: 150px;
  background-size: cover;
  text-align: center;
  background-position: 50%;
}
.bg2 {
  background-image: url("../../assests/calculator/bg2.jpg");
  background-size: cover;
  padding-top: 100px;
}

.c_width {
  max-width: 90%;
  margin: auto;
}

.banner {
  line-height: 85px;
  font-size: 85px;
  color: white;
  background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  padding-bottom: 10px;
}

.cardmain {
  padding: 24px 30px;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  box-shadow: 0px 2px 18px 0px #6923ea;
  margin-top: 50px;
}
.inercard {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-family: "sansation";
  box-sizing: border-box;
  /* box-shadow: 0 0 10px #c7c4c4; */
  padding: 30px;
  /* background-color: #04023200; */
}
.pp {
  color: #fff;
  font-family: "sansation";
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  max-width: 90%;
  margin: 15px auto 25px;
}
.sech {
  color: #fff;
  font-size: 24px;
  text-align: left;
  margin: 20px 0;
  font-weight: 700;
}
.colr {
  font-size: 20px;
  color: #e343d7;
  line-height: 20px;
  font-family: "sansation";
  font-weight: 500;
  text-align: left;
  display: flex;
}
.colrw {
  font-size: 20px;
  color: white;
  line-height: 20px;
  font-family: "sansation";
  font-weight: 500;
  text-align: left;
  display: flex;
}
.ms {
  padding: 5px;
  margin-bottom: 25px;
}
.pcolor {
  color: #e343d7;
  font-size: 22px;
  padding: 4px 30px;
  vertical-align: middle;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;
  font-family: "sansation";
}

.cal_headings {
  font-size: 22px;
  padding: 4px 30px;
  vertical-align: middle;
  line-height: 22px;
  font-weight: 600;
  color: white;
  font-family: "sansation";
  cursor: pointer;
}

.py_3 {
  padding: 0px !important;
  margin-top: 10px;
}

/* .table_main {
  width: 100%;
  border: 1.5px solid #512a9f !important;
  box-shadow: 0 0 6px #512a9f !important;
  color: white;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "sansation";
  margin-bottom: 50px;
}
.table_main > thead > tr > th {
  color: #e343d7;
  padding: 18px 5px !important;
  font-family: "sansation";
  box-shadow: 5px 0 5px -4px #512a9f, -5px 0 8px -4px #512a9f;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
.table_main > tbody > tr > td {
  color: #fff;
  padding: 18px 5px !important;
  font-family: "sansation";
  box-shadow: 5px 0 5px -4px #512a9f, -5px 0 8px -4px #512a9f;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
tr {
  background-color: transparent;
}
tr:nth-child(even) {
  background-color: #1c1c1e;
} */

.cust {
  background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin-bottom: 50px;
  font-family: "Nurom";
  color: #333;
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .dn {
    display: none;
  }

  .pcolor {
    color: #e343d7;
    font-size: 20px;
    padding: 25px 10px 0px;
    vertical-align: middle;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    font-family: "sansation";
    text-align: center;
  }

  .cal_headings {
    font-size: 20px;
    padding: 25px 10px 0px;
    line-height: 20px;
  }

  .pp {
    font-size: 24px;
    line-height: 30px;
    margin: 0px auto 25px;
  }

  /* .cardmain {
    padding: 24px 0px;
   
  } */

  .inercard {
    padding: 30px 0px;
  }
  .sech {
    color: #fff;
    font-size: 22px;
    text-align: left;
    margin: 20px 0;
    font-weight: 700;
  }

  .colr {
    font-size: 19px;
    line-height: 19px;
  }

  .colrw {
    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: 981px) {
  .pdd {
    padding: 2% 0;
  }
}

@media (max-width: 768px) {
  .pcolor {
    font-size: 17px;
    padding: 25px 0px 0px;
    line-height: 17px;
  }

  .cal_headings {
    font-size: 17px;
    padding: 25px 0px 0px;
    line-height: 17px;
  }

  .pp {
    font-size: 22px;
    line-height: 28px;
    max-width: 95%;
  }

  .sech {
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin: 20px 0;
    font-weight: 700;
  }

  .colr {
    font-size: 18px;
    line-height: 18px;
  }

  .colrw {
    font-size: 19px;
    line-height: 19px;
  }
}

@media (max-width: 600px) {
  .banner {
    font-size: 40px;
  }
  .dn {
    display: none;
  }
  .cal_h {
    justify-content: center;
  }
  /* .cal_headings {
    text-align: center;
    height: 70px;
  } */
  .cust {
    padding-top: 30px;
    font-size: 23px;
  }
  .bg2 {
    padding-top: 20px;
  }
  .py-3 {
    padding: 0px !important;
  }
  .inercard {
    padding: 0px !important;
  }
}
