* {
  padding: 0px;
  margin: 0px;
}
.evolution_inner_text {
  /* font-family: "sansation";
  font-weight: 500;
  line-height: 30px;
  font-size: 24px;
  color: #ffffff;
  text-align: center; */

  color: #fff;
  font-family: "sansation";
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  max-width: 90%;
  margin: 15px auto 25px;
}
.evolution_inner_heading {
  font-family: "Nurom";
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  /* padding-top: 50px; */
}
.monkey_col_wrapper {
  position: relative;
}
.vertical_line {
  border-left: 2px solid #f832ec;
  height: 450px;
  margin-top: 50px;
}
.monkey-img_wrapper {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  margin-top: 30px;
}
.monkey_img {
  max-width: 100%;
  height: auto;
}
.col-2 {
  min-width: 10.6%;
  float: left;
  padding: 0px !important;
}
.main-timeline {
  font-family: "Nurom";
  padding: 30px 0;
  position: relative;
}
.timeline-content {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}
.main-timeline:before {
  content: "";
  background-color: #f832ec;
  height: 90px;
  width: 3px;
  transform: translateX(-50%);
  position: absolute;
  top: 91px;
  left: 50%;
}
.Monkey_bottom_border {
  background-color: #f832ec;
  height: 4px;
  width: 84.8%;
  position: relative;
  margin-top: 28px;

  /* transform: translateX(50%); */
}
@media screen and (min-width: 1960px) and (max-width: 2680px) {
  .Monkey_bottom_border {
    background-color: #f832ec;
    height: 4px;
    width: 84.5%;
    position: relative;
    margin-top: 28px;

    /* transform: translateX(50%); */
  }
}
@media screen and (min-width: 1350px) and (max-width: 1450px) {
  .Monkey_bottom_border {
    background-color: #f832ec;
    height: 4px;
    width: 85%;
    position: relative;
    margin-top: 28px;

    /* transform: translateX(50%); */
  }
}
@media screen and (min-width: 960px) and (max-width: 1349px) {
  .Monkey_bottom_border {
    background-color: #f832ec;
    height: 4px;
    width: 85.5%;
    position: relative;
    margin-top: 28px;

    /* transform: translateX(50%); */
  }
}
@media screen and (max-width: 959px) {
  .Monkey_bottom_border {
    background-color: #f832ec;
    height: 4px;
    width: 86.2%;
    position: relative;
    margin-top: 28px;

    /* transform: translateX(50%); */
  }
}
.blue_Question_secton_bottom_border {
  background-color: #f832ec;
  height: 40px;
  width: 4px;
  position: relative;
  margin-top: 28px;
  top: -32px;
}
.main-timeline .timeline {
  width: 50%;
  padding: 0 0 0 0;
  margin: 0 10px 20px 0;
  float: left;
  position: relative;
  z-index: 1;
  height: 100px;
}
.blue_question_img {
  margin-top: -33px;
}
.main-timeline .timeline-year {
  color: #121365;
  background: linear-gradient(to right, #121365, #4546d0);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 1;
}
.main-timeline .timeline-year:before {
  content: "";
  background-color: #fff;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}

.quetion_mark_heading {
  font-size: 42px;
  background: -webkit-linear-gradient(left, #5dc7fe, #f831ec);
  background: -o-linear-gradient(right, red, yellow);
  background: -moz-linear-gradient(right, red, yellow);
  background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-family: "nurom";
  line-height: 35px;
  padding-top: 70px;
}
.Get_External_heading {
  font-size: 42px;
  background: -webkit-linear-gradient(left, #5dc7fe, #f831ec);
  background: -o-linear-gradient(right, red, yellow);
  background: -moz-linear-gradient(right, red, yellow);
  background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-family: "nurom";
  line-height: 42px;
  padding-top: 50px;
}
.question_mark-section {
  max-width: 500px;
  margin: auto;
}
.question_mark-section .col-2 {
  width: 33%;
}
.question_mark-section .main-timeline:before {
  content: "";
  background-color: #f832ec;
  height: 180px;
  width: 3px;
  transform: translateX(-50%);
  position: absolute;
  top: -2px;
}
.question_mark-section .main-timeline .timeline {
  width: 50%;
  padding: 0 0 0 0;
  margin: 0 10px 20px 0;
  float: left;
  position: relative;
  z-index: 1;
  height: 100px;
}
.question_mark-section .main-timeline .timeline-year {
  color: #121365;
  background: linear-gradient(to right, #121365, #4546d0);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 1;
}
.question_mark-section .main-timeline .timeline-year:before {
  content: "";
  background-color: #fff;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 49%;
  z-index: -1;
}
.Question_secton_bottom_border {
  background-color: #f832ec;
  height: 4px;
  min-width: 15%;
  margin-right: 5px;
  position: absolute;
  margin-top: 26px;
}
.calculator_Question_secton_bottom_border {
  background-color: #f832ec;
  height: 4px;
  width: 315px;
  margin-right: 5px;
  position: absolute;
  margin-top: 26px;
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .calculator_Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    width: 237px;
    margin-left: 3px;
    position: absolute;
    margin-top: 54px;
  }
}
@media screen and (max-width: 599px) {
  .calculator_Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    width: 50% !important;
    margin-left: 3px;
    position: absolute;
    margin-top: 54px;
  }
}

.Alien_section {
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}
.Alien_section .col-2 {
  width: 50%;
  float: left;
}
.Alien_section .main-timeline {
  font-family: "Nurom";
  padding: 30px 0;
  position: relative;
}
.Alien_section .main-timeline::before {
  top: 5px;
  height: 92%;
}
.Alien_section .main-timeline .timeline {
  width: 50%;
  padding: 0 0 0 0;
  margin: 0 10px 20px 0;
  float: left;
  position: relative;
  z-index: 1;
  height: 100px;
}
.Alien_section .main-timeline .timeline-year {
  color: #121365;
  background: linear-gradient(to right, #121365, #4546d0);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 1;
}
.Alien_section .main-timeline .timeline-year:before {
  content: "";
  background-color: #fff;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}
.Alien_section .main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.Question2_secton_bottom_border {
  background-color: #f832ec;
  height: 4px;
  width: 165px;
  position: absolute;

  margin-top: -10px;
}

@media screen and (max-width: 1024px) {
  .evolution_inner_text {
    font-size: 24px;
    line-height: 30px;
    margin: 0px auto 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .monkey_img {
    max-width: 100%;
    height: auto;
    padding: 4px;
  }
}
@media screen and (max-width: 768px) {
  .evolution_inner_text {
    font-size: 20px;
    line-height: 28px;
    max-width: 95%;
  }
  .col-2 {
    width: 50% !important;
  }
  .main-timeline {
    padding-top: 0px;
    padding-bottom: 1px;
  }
  .Monkey_bottom_border {
    background-color: #f832ec;
    height: 4px;
    width: 52.4%;
    position: relative;
    margin-top: 57px;
  }
}
@media screen and (max-width: 480px) {
  .Question2_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    width: 50%;
    position: absolute;

    margin-top: -10px;
  }
}

@media screen and (min-width: 2570px) and (max-width: 2630px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 15.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2470px) and (max-width: 2569px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 16%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2400px) and (max-width: 2490px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 16.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2300px) and (max-width: 2410px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 17%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2300px) and (max-width: 2340px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 17.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2100px) and (max-width: 2299px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 18%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2220px) and (max-width: 2299px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 18%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2200px) and (max-width: 2219px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 18.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2100px) and (max-width: 2199px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 19%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2050px) and (max-width: 2099px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 19.8%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2049px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 20%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2049px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 20%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1910px) and (max-width: 1999px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 21%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1840px) and (max-width: 1909px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 22%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1800px) and (max-width: 1839px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 22.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1720px) and (max-width: 1799px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 23.3%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1700px) and (max-width: 1719px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 23.9%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1610px) and (max-width: 1699px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 24.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1609px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 25.7%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1554px) and (max-width: 1599px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 26%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1553px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 27%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1499px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 28%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1410px) and (max-width: 1449px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 29%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1409px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 29.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1360px) and (max-width: 1399px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 30%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1320px) and (max-width: 1359px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 31%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1319px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 31.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1270px) and (max-width: 1299px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 32.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1250px) and (max-width: 1269px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 33%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1220px) and (max-width: 1249px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 34%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1219px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 34.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1160px) and (max-width: 1199px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 35.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1140px) and (max-width: 1159px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 36.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1125px) and (max-width: 1139px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 37%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1124px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 38%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1070px) and (max-width: 1099px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 39%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1069px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 40%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1030px) and (max-width: 1049px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 41%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1029px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 42%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 980px) and (max-width: 999px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 43%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 950px) and (max-width: 979px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 44.4%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 935px) and (max-width: 949px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 45%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 915px) and (max-width: 934px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 46%;
    margin-right: 5px;
    position: absolute;
    margin-top: 26px;
  }
}
@media screen and (min-width: 900px) and (max-width: 914px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 47.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 25px;
  }
}
@media screen and (min-width: 880px) and (max-width: 899px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 48.5%;
    margin-right: 5px;
    position: absolute;
    margin-top: 25px;
  }
}
@media screen and (min-width: 850px) and (max-width: 879px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 50%;
    margin-right: 5px;
    position: absolute;
    margin-top: 25px;
  }
}
@media screen and (min-width: 840px) and (max-width: 849px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 50.9%;
    margin-right: 5px;
    position: absolute;
    margin-top: 25px;
  }
}
@media screen and (min-width: 800px) and (max-width: 839px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 53%;
    margin-right: 5px;
    position: absolute;
    margin-top: 25px;
  }
}
@media screen and (min-width: 785px) and (max-width: 799px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 55%;
    margin-right: 5px;
    position: absolute;
    margin-top: 25px;
  }
}
@media screen and (min-width: 769px) and (max-width: 784px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 56%;
    margin-right: 5px;
    position: absolute;
    margin-top: 25px;
  }
}
@media screen and (min-width: 740px) and (max-width: 768px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 44%;
    margin-left: 3px;
    /* position: absolute; */
    margin-top: 55px;
  }
  .quetion_mark_heading {
    margin-top: 40px;
  }
}
@media screen and (min-width: 725px) and (max-width: 739px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 45%;
    margin-left: 5px;
    /* position: absolute; */
    margin-top: 55px;
  }
  .quetion_mark_heading {
    margin-top: 40px;
  }
}
@media screen and (min-width: 700px) and (max-width: 724px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 46.8%;
    margin-left: 5px;
    /* position: absolute; */
    margin-top: 55px;
  }
  .quetion_mark_heading {
    margin-top: 40px;
  }
}
@media screen and (min-width: 650px) and (max-width: 699px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 48%;
    margin-left: 5px;
    /* position: absolute; */
    margin-top: 55px;
  }
  .quetion_mark_heading {
    margin-top: 40px;
  }
}
@media screen and (min-width: 665px) and (max-width: 685px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 49%;
    margin-left: 5px;
    /* position: absolute; */
    margin-top: 55px;
  }
  .quetion_mark_heading {
    margin-top: 40px;
  }
}
@media screen and (min-width: 650px) and (max-width: 664px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 50%;
    margin-left: 5px;
    /* position: absolute; */
    margin-top: 55px;
  }
  .quetion_mark_heading {
    margin-top: 40px;
  }
}
@media screen and (min-width: 600px) and (max-width: 649px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 51%;
    margin-left: 5px;
    /* position: absolute; */
    margin-top: 55px;
  }
  .quetion_mark_heading {
    margin-top: 40px;
  }
}
@media screen and (min-width: 300px) and (max-width: 599px) {
  .Question_secton_bottom_border {
    background-color: #f832ec;
    height: 4px;
    min-width: 51%;
    margin-left: 5px;
    /* position: absolute; */
    margin-top: 55px;
  }
  .quetion_mark_heading {
    margin-top: 40px;
  }
}
