.home2__container {
  // background-color: black;
  font-family: "sansation";
  .sect1 {
    // margin: 0 4rem;
    background-image: url(../../assests/Home2/sec5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;

    .heading {
      font-family: "nurom";
      font-size: 40px;
      font-weight: 600;
      color: #ffffff !important;
      text-align: center;
      background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .para {
      font-size: 26px;
      color: white;
      text-align: center;
      max-width: 1200px;
      margin: auto;

      @media only screen and (max-width: 800px) {
        padding: 0 1rem;
        font-size: 20px;
      }
    }

    .grid {
      // margin-top: 3rem;
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .box {
        display: flex;
        flex-direction: column;
        width: 400px;
        align-items: center;
        // justify-content: center;
        margin: 2rem 1rem;
        // @media only screen and (max-width: 800px) {
        //   margin: 1rem 1rem;
        // }
        .img {
          .box__img {
            height: 350px;
          }
        }
        .box__heading {
          font-family: "nurom";
          font-size: 28px;
          font-weight: 600;
          color: #ffffff !important;
          text-align: center;
          background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: 1rem 0;
        }
        .para1 {
          width: 350px;
          font-size: 26px;
          color: white;
          text-align: center;
          line-height: 50px;
          // @media only screen and (max-width: 800px) {
          //   padding: 0 1rem;
          //   font-size: 20px;
          //   line-height: 30px;
          // }
          span {
            color: #f831ec;
          }
        }
        .para2 {
          font-size: 26px;
          color: white;
          text-align: center;
          // @media only screen and (max-width: 800px) {
          //   padding: 0 1rem;
          //   font-size: 20px;
          // }
          span {
            color: #f831ec;
          }
        }
      }
    }

    @media screen and (max-width: 1728px) {
      .para {
        font-size: 24px;
        line-height: 30px;
        max-width: 950px;
        margin-bottom: 20px;
      }
      .grid {
        max-width: 1200px;
        margin: 0 auto;
        .box {
          width: 20%;

          .img {
            .box__img {
              max-width: 100%;
              width: 100%;
              height: auto;
            }
          }
          .box__heading {
            font-size: 28px;
            line-height: 1em;
          }
          .para1 {
            width: 100%;
            font-size: 20px;
            line-height: 30px;
          }
          .para2 {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      .grid {
        justify-content: space-between;
        .box {
          width: 44%;

          .img {
            .box__img {
              height: 300px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      .grid {
        margin-top: 2rem;
        justify-content: center;
        .box {
          width: 100%;

          margin: 2rem 1rem;

          .img {
            .box__img {
              max-width: 100%;
              width: 100%;
              height: auto;
            }
          }

          .para1,
          .para2 {
            width: 90%;
          }
        }
      }
    }
  }

  .sect2 {
    background-image: url(../../assests/Home2/sec6i1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    // padding: 5rem 5rem;

    .inner {
      display: flex;
      justify-content: space-between;
      padding: 5rem 5rem;
    }

    .sect2__left {
      .heading {
        font-family: "nurom";
        font-size: 40px;
        font-weight: 600;
        color: #ffffff !important;

        background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media only screen and (max-width: "1050px") {
          text-align: center;
        }
      }
      .img {
        margin-top: 5rem;
        @media only screen and (max-width: "1050px") {
          margin-top: 2rem;
          display: flex;
          justify-content: center;
        }
        .left__img {
          @media only screen and (max-width: "1550px") {
            height: 550px;
          }
          @media only screen and (max-width: "700px") {
            height: 350px;
          }
        }
      }
    }
    .sect2__right {
      // width: 800px;
      margin-left: 12rem;
      @media only screen and (max-width: "1669px") {
        margin-left: 8rem;
      }
      @media only screen and (max-width: "1250px") {
        margin-left: 5rem;
      }
      @media only screen and (max-width: "1100px") {
        margin-left: 0rem;
      }
      .right__paras {
        color: white;
        font-size: 34px;
        line-height: 50px;
        margin-bottom: 5rem;
        margin-top: 9rem;
        @media only screen and (max-width: "1550px") {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 3rem;
        }
        @media only screen and (max-width: "1250px") {
          font-size: 20px;
          // line-height: 30px;
          // margin-bottom: 3rem;
        }
        @media only screen and (max-width: "1100px") {
          margin-top: 4rem;
        }

        span {
          color: #f831ec;
        }
        .para2 {
          margin: 2rem 0;
        }
      }
      .right__btn {
        @media only screen and (max-width: "1100px") {
          width: 100%;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-family: "nurom";
          font-size: 34px;
          font-weight: bold;
          cursor: pointer;
          padding: 0.7rem 1.2rem 0.3rem 1.2rem;
          border-radius: 20px;
          text-transform: uppercase !important;
          background-image: linear-gradient(180deg, #fa4cf0 0%, #5d15e3 100%);
          background-color: #6923ea;
          border: none;
          color: white;
          position: relative;
          @media only screen and (max-width: "1550px") {
            font-size: 20px;
          }
          @media only screen and (max-width: "1100px") {
            width: 100%;
          }

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 30px;
            top: 0.07rem;
            height: -webkit-fill-available;
            opacity: 0;

            transition: all 0.5s ease-in-out;
          }

          &:hover {
            span {
              opacity: 1;
              right: 3px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 1699px) {
      .inner {
        max-width: 1100px;
        margin: 0 auto;
        padding: 5rem 0;
        display: flex;
        justify-content: space-between;

        .sect2__left {
          .heading {
            font-size: 40px;

            @media only screen and (max-width: "1050px") {
              text-align: center;
            }
          }

          .img {
            margin-top: 5rem;

            @media only screen and (max-width: "1050px") {
              margin-top: 2rem;
              display: flex;
              justify-content: center;
            }

            .left__img {
              height: 500px;
              @media only screen and (max-width: "700px") {
                height: 350px;
              }
            }
          }
        }

        .sect2__right {
          margin-left: 5rem;

          @media only screen and (max-width: "1250px") {
            margin-left: 5rem;
          }
          @media only screen and (max-width: "1100px") {
            margin-left: 0rem;
          }

          .right__paras {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 3rem;
            @media only screen and (max-width: "1250px") {
              font-size: 20px;
              // line-height: 30px;
              // margin-bottom: 3rem;
            }
            @media only screen and (max-width: "1100px") {
              margin-top: 4rem;
            }

            span {
              color: #f831ec;
            }
            .para2 {
              margin: 2rem 0;
            }
          }
          .mt-para {
            margin-top: 13rem;
          }

          .right__btn {
            @media only screen and (max-width: "1100px") {
              width: 100%;
            }
            button {
              font-size: 24px;
              line-height: 30px;

              @media only screen and (max-width: "1100px") {
                width: 100%;
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 1200px) {
      .inner {
        max-width: 90%;
        margin: 0 auto;
        padding: 5rem 0;
        flex-direction: column;
        align-items: center;

        .sect2__left {
          .heading {
            font-size: 40px;
            text-align: center;
          }

          .img {
            margin-top: 5rem;

            @media only screen and (max-width: "1050px") {
              margin-top: 2rem;
              display: flex;
              justify-content: center;
            }

            .left__img {
              height: auto;
            }
          }
        }

        .sect2__right {
          margin-left: 5rem;

          @media only screen and (max-width: "1250px") {
            margin-left: 5rem;
          }
          @media only screen and (max-width: "1100px") {
            margin-left: 0rem;
          }

          .right__paras {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 3rem;
            @media only screen and (max-width: "1250px") {
              font-size: 20px;
              // line-height: 30px;
              // margin-bottom: 3rem;
            }
            @media only screen and (max-width: "1100px") {
              margin-top: 4rem;
            }

            span {
              color: #f831ec;
            }
            .para2 {
              margin: 2rem 0;
            }
          }
          .mt-para {
            margin-top: 6rem;
          }

          .right__btn {
            @media only screen and (max-width: "1100px") {
              width: 100%;
            }
            button {
              font-size: 24px;
              line-height: 30px;

              @media only screen and (max-width: "1100px") {
                width: 100%;
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 767px) {
      padding: 5rem 2rem;

      .inner {
        .sect2__left {
          .img {
            margin-top: 4rem;

            .left__img {
              height: 500px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 575px) {
      padding: 5rem 2rem;

      .inner {
        .sect2__left {
          .img {
            margin-top: 4rem;

            .left__img {
              height: 300px;
            }
          }
        }
      }
    }
  }

  //   .heading {
  //       background-color: black;
  //       color: #f831ec;
  //     font-family: "nurom";
  //     font-size: 30px;
  //     font-weight: 600;
  //     text-align: right;
  //     padding-right: 5rem;
  //     // width: 500px;
  //     // background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
  //     // -webkit-background-clip: text;
  //     // -webkit-text-fill-color: transparent;
  //     @media only screen and (max-width: "1100px") {
  //       text-align: center;
  //       font-size: 40px;
  //       padding-right: 0rem;
  //       padding: 0rem 2rem;
  //       line-height: 42px;
  //     }
  //   }

  //   .sect3 {
  //     background-image: url(../../assests/Home2/sec6i2.jpg);
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     display: flex;
  //     justify-content: space-between;
  //     padding: 2rem 5rem;
  //     @media only screen and (max-width: "1100px") {
  //       flex-direction: column;
  //       align-items: center;
  //     }
  //     @media only screen and (max-width: "600px") {
  //       padding: 0 2rem;
  //     }

  //     .sect3__right {
  //       .img {
  //         margin-top: 5rem;
  //         @media only screen and (max-width: "1050px") {
  //           margin-top: 2rem;
  //           display: flex;
  //           justify-content: center;
  //         }
  //         .left__img {
  //           @media only screen and (max-width: "1550px") {
  //             height: 550px;
  //           }
  //           @media only screen and (max-width: "700px") {
  //             height: 350px;
  //           }
  //         }
  //       }
  //     }
  //     .sect3__left {
  //       // width: 800px;
  //       margin-right: 10rem;
  //       @media only screen and (max-width: "1250px") {
  //         margin-right: 5rem;
  //       }
  //       @media only screen and (max-width: "1100px") {
  //         margin-right: 0rem;
  //       }
  //       .right__paras {
  //         color: white;
  //         font-size: 36px;
  //         line-height: 50px;
  //         margin-bottom: 5rem;
  //         margin-top: 4rem;
  //         text-align: right;
  //         @media only screen and (max-width: "1550px") {
  //           font-size: 26px;
  //           line-height: 30px;
  //           margin-bottom: 3rem;
  //         }
  //         @media only screen and (max-width: "1250px") {
  //           font-size: 20px;
  //           // line-height: 30px;
  //           // margin-bottom: 3rem;
  //         }
  //         @media only screen and (max-width: "1100px") {
  //           margin-top: 2rem;
  //           text-align: center;
  //         }

  //         span {
  //           color: #f831ec;
  //         }
  //         .para2 {
  //           margin: 2rem 0;
  //         }
  //       }
  //       .right__btn {
  //         // display: flex;
  //         // align-items: center;
  //         // justify-content: end;

  //         @media only screen and (max-width: "1100px") {
  //           width: 100%;
  //         }
  //         @media only screen and (max-width: "700px") {
  //         }
  //         button {
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;
  //           align-items: center;
  //           text-transform: uppercase;
  //           font-family: "nurom";
  //           font-size: 34px;
  //           font-weight: bold;
  //           cursor: pointer;
  //           padding: 0.7rem 1.2rem 0.3rem 1.2rem;
  //           border-radius: 20px;
  //           text-transform: uppercase !important;
  //           background-image: linear-gradient(180deg, #fa4cf0 0%, #5d15e3 100%);
  //           background-color: #6923ea;
  //           border: none;
  //           color: white;
  //           position: relative;
  //           @media only screen and (max-width: "1550px") {
  //             font-size: 20px;
  //           }
  //           @media only screen and (max-width: "1100px") {
  //             width: 100%;
  //           }

  //           span {
  //             display: flex;
  //             justify-content: center;
  //             align-items: center;
  //             position: absolute;
  //             right: 30px;
  //             top: 0.07rem;
  //             height: -webkit-fill-available;
  //             opacity: 0;

  //             transition: all 0.5s ease-in-out;
  //           }

  //           &:hover {
  //             span {
  //               opacity: 1;
  //               right: 3px;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }

  .sect3 {
    background-image: url(../../assests/Home2/sec6i2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 5rem;

    @media only screen and (max-width: "700px") {
      padding: 2rem 2rem;
    }

    .inner {
    }

    .heading {
      width: fit-content;
      font-family: "nurom";
      font-size: 40px;
      font-weight: 600;
      text-align: right;
      // padding-right: 5rem;
      // width: 500px;
      background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: right;
      @media only screen and (max-width: "1100px") {
        text-align: center;
      }
      @media only screen and (max-width: "600px") {
        font-size: 30px;
      }
    }

    .sections {
      display: flex;
      gap: 13rem;

      @media only screen and (max-width: "1699px") {
        gap: 10rem;
      }

      @media only screen and (max-width: "1450px") {
        gap: 5rem;
      }

      @media only screen and (max-width: "1100px") {
        flex-direction: column;
        align-items: center;
      }
      @media only screen and (max-width: "600px") {
        padding: 1rem 0rem;
      }

      .sect3__left {
        // width: 800px;
        // margin-right: 10rem;
        // @media only screen and (max-width: "1250px") {
        //   margin-right: 5rem;
        // }
        // @media only screen and (max-width: "1100px") {
        //   margin-right: 0rem;
        // }
        .right__paras {
          color: white;
          font-size: 34px;
          line-height: 50px;
          margin-bottom: 5rem;
          margin-top: 5rem;
          text-align: right;
          @media only screen and (max-width: "1600px") {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 3rem;
          }
          @media only screen and (max-width: "1250px") {
            font-size: 20px;
            // line-height: 30px;
            // margin-bottom: 3rem;
          }
          @media only screen and (max-width: "1100px") {
            margin-top: 2rem;
            text-align: center;
          }

          span {
            color: #f831ec;
          }
          .para2 {
            margin: 2rem 0;
          }
        }
        .right__btn {
          float: right;

          // display: flex;
          // align-items: center;
          // justify-content: end;

          @media only screen and (max-width: "1100px") {
            width: 100%;
          }
          @media only screen and (max-width: "700px") {
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-family: "nurom";
            font-size: 34px;
            font-weight: bold;
            cursor: pointer;
            padding: 0.7rem 1.2rem 0.3rem 1.2rem;
            border-radius: 20px;
            text-transform: uppercase !important;
            background-image: linear-gradient(180deg, #fa4cf0 0%, #5d15e3 100%);
            background-color: #6923ea;
            border: none;
            color: white;
            position: relative;
            @media only screen and (max-width: "1550px") {
              font-size: 20px;
            }
            @media only screen and (max-width: "1100px") {
              width: 100%;
            }

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 30px;
              top: 0.07rem;
              height: -webkit-fill-available;
              opacity: 0;

              transition: all 0.5s ease-in-out;
            }

            &:hover {
              span {
                opacity: 1;
                right: 3px;
              }
            }
          }
        }
      }
      .sect3__right {
        .img {
          margin-top: 5rem;
          @media only screen and (max-width: "1050px") {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
          }
          .left__img {
            @media only screen and (max-width: "1600px") {
              height: 500px;
            }
            @media only screen and (max-width: "1250px") {
              height: 380px;
            }
            @media only screen and (max-width: "700px") {
              height: 350px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1699px) {
      padding: 4rem 0;

      .inner {
        max-width: 1100px;
        margin: auto;
      }

      .sections {
        display: flex;
        gap: 5rem;

        .sect3__left {
          .right__paras {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 3rem;
          }
          .right__btn {
            float: right;

            button {
              font-size: 24px;
              line-height: 30px;
            }
          }
        }

        .sect3__right {
          .img {
            margin-top: 5rem;

            .left__img {
              height: 500px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1200px) {
      padding: 4rem 0;

      .inner {
        max-width: 90%;
        margin: auto;
        flex-direction: column;
        align-items: center;
      }

      .sections {
        display: flex;
        gap: 5rem;

        .sect3__left {
          .right__paras {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 3rem;
          }
          .right__btn {
            float: right;

            button {
              font-size: 24px;
              line-height: 30px;
            }
          }
        }

        .sect3__right {
          .img {
            margin-top: 2rem;

            .left__img {
              height: auto;
            }
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      padding: 4rem 2rem;

      .sections {
        display: flex;
        gap: 2rem;

        .sect3__right {
          .img {
            margin-top: 4rem;

            .left__img {
              height: 500px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 575px) {
      padding: 4rem 2rem;

      .sections {
        display: flex;
        gap: 5rem;

        .sect3__right {
          .img {
            margin-top: 4rem;

            .left__img {
              height: 300px;
            }
          }
        }
      }
    }
  }
}
