.token__container {
  background-image: url("../../assests/Token/tokenBack.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  .token__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 8rem;
    // max-width: 500px;
    .heading {
      font-size: 72px;
      font-weight: 600;
      color: #ffffff !important;
      text-align: center;
      background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .header__para1 {
      font-size: 35px;
      margin-top: 2rem;
      color: #ffffff !important;
    }
    .header__para2 {
      margin-top: 1rem;
      font-size: 35px;
      max-width: 1400px;
      color: #ffffff !important;
      text-align: center;
      line-height: 48px;
      margin-bottom: 2.5rem;
      span {
        color: #f831ec;
      }
    }
  }
  .tok__sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    .sec1__img {
      height: 290px;
    //   width: 340px;
    }
    .sec1__heading {
      font-size: 55px;
      font-weight: 600;
      margin-top: 3.5rem;
      color: #f831eb;
    }
    .sec1__para {
      font-size: 35px;
      max-width: 1250px;
      text-align: center;
    }
  }
  .tok__sec2 {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    padding: 0 6rem;
    .sec2__left {
      //   max-width: 1000px;
      margin-right: 7rem;
      .left__upper {
        .upper__heading {
          font-size: 46px;
          font-weight: 700;
          color: #ffffff !important;
          // text-align: center;
          background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .upper__para {
          font-size: 35px;
          color: white;
        }
        .upper__list {
          font-size: 25px;
          color: white;
          margin: 5rem 0;
          margin-bottom: 4rem;
          ul {
            list-style: none;
            margin-left: -15px;
          }

          li::before {
            color: #f831ec;
            content: "O";
          }
        }
      }
    }
    .sec2__right {
      .sec2__img {
        height: 800px;
      }
    }
  }

  .tok__sec3 {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    padding: 0 6rem;
    .sec3__left {
      margin-right: 7rem;
      .sec3__img {
        height: 800px;
      }
    }
    .sec3__right {
      .right__heading {
        font-size: 46px;
        font-weight: 700;
        color: #ffffff !important;
        // text-align: center;
        background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .right__para1 {
        font-size: 35px;
        color: white;
      }
      .sec3__lists{
          margin-top: 3rem;
          display: flex;
          justify-content: space-between;
          color: white;
          line-height: 33px;
          font-size: 21px;
          .list__left{
              .heading{
                  color: #f831ec;
                  font-weight: 600;
                  font-size: 15px;
                  margin-left: 20px;
              }
              ul {
                list-style: none;
                margin-left: -15px;
              }
    
              li::before {
                color: #f831ec;
                content: "o";
                margin-right: 10px;
              }
            
          }
          .list__right{
            .heading{
              color: #f831ec;
              font-weight: 600;
              font-size: 15px;
            }
            div{
                text-align: right;
                font-size: 22px;
            }
        }
      }

      .sec3__para2{
        font-size: 35px;
        color: white;
        margin-top: 3rem;
        font-style: italic;
      }
    }
  }
  .tok__sec4{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    padding: 0 6rem;
    .sec4__left{
        // margin-right: 7rem;
       .heading{
        font-size: 46px;
        font-weight: 700;
        color: #ffffff !important;
        // text-align: center;
        background: linear-gradient(63deg, #5dc7fe 5%, #f831ec 66%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       } 
       .para{
        font-size: 35px;
        color: white; 
        span{
            color: #f831ec;
        }
       }
    }
    .sec4__right{
        padding:0 10rem;
        

        .sec1__img{
            height: 290px;
            width: 340px;
        }
    }

  }


}
